.wrapper{
    margin-top: 5%;
    margin-left: -21%;
    width: 40%;
    min-width: 700px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container span{
    color: red;
    letter-spacing: 2px;
    font-size: 33px;
    font-weight: bold;
}
.container{
    width: 100%;
    padding: 30px 30px 50px;
    /* background-color: white; */
    border-radius: 10px;
    /* box-shadow: 0 20px 30px rgba(0,0,0,0.2); */
} 
.container *{
    font-family:sans-serif;
    color: black;
    font-weight: 500;
}

h1{
    letter-spacing: 2px;
    font-size: 33px;
    font-weight: bold;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
 
    border: 1px solid black;
 
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: red;
   
 
}
span{
    font-size: 18px;
    letter-spacing: 1px;  
}

#python-bar{
    animation: python-fill 2s forwards;
   
}
@keyframes python-fill{
    100%{
        width: 85%;
    }
}

#c-bar{
    animation: c-fill 2s forwards;
}
@keyframes c-fill{
    100%{
        width: 75%;
    }
}
#j-bar{
    animation: j-fill 2s forwards;
}
@keyframes j-fill {
    100%{
        width: 72%;
    }
}
#htmlcs-bar{
    animation: htmlcs-fill 2s forwards;
}
@keyframes htmlcs-fill{
    100%{
        width: 60%;
    }
} 